body{
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,192,0,1) 100%);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.Titulo{
    margin-top: 100px;
    text-align: center;
}

.Entrada{
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #716c5d;
    font-size: 18px;
    margin-bottom: 16px;    
    font-family: sans-serif;
}

input{
    height: 35px;
}

form .submit{
    background: #8000ff;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
}

form .submit:hover{
    background-color: #ff00ff;
    cursor: pointer;
    opacity: 1;
    transition: 600ms;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  
}

form .select{

    height: 35px;
}

.Categoria.select{

    width: 835px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #716c5d;
    font-size: 18px;
    margin-bottom: 16px;    
    font-family: sans-serif;
}

.Contacto #MensajeError{
    
    width: 835px;
    margin-bottom: 30px;
    padding: 0px;
    background: #fe8b8e;
    text-align: center;
    font-size: 14px;
    transition: all 0.5s ease;
    transform: translate(61%,50%);
}